@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Oswald:500');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');

* {
    box-sizing: border-box;
}

body {
    --headerColor: #089b34;
    --textpaneColor: #b8ecc3;
    background-color: rgb(90, 175, 94);
}
.container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.editor-container{
    width: 45%;
    height:35vh;
    margin: 5vh auto;
}   

.editor-container-maximized{
    width:95%;
    height: 90vh;    
    margin-top: 5vh;
}

textarea{
    width: 100%;
    height:85%;    
    background-color: var(--textpaneColor);    
    padding: 2%;    
    border: 1px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.previewer-container{
    width: 70%;
    min-height:55vh;
}

.previewer-container-maximized{
    width: 95%;
    min-height:75vh;
    margin-top: 5vh;
}

#preview {
    font-family: 'Baloo Bhaijaan', cursive;    
    background-color: var(--textpaneColor);
    border: 1px solid black;
    min-height: 45vh;
    padding: 2%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.no-display {
    display: none;
}
header {
    font-family: 'Oswald', sans-serif;
    background-color: var(--headerColor);
    position: relative;  
    color: rgb(15, 15, 37);
    padding: .25vh 1%;
    height:6vh;
    font-size: 1.2em;
    border: 1px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#clickable-i{
    position: absolute;
    right: 1%;
    top: 5px;
    cursor: pointer;
}

#clickable-i:hover{
    color: rgb(212, 240, 238);
    font-size: 125%;
}

@media screen and (max-width: 800px){
    .editor-container{
        width: 65%;
    } 
    .previewer-container{        
        width: 85%;
    }
}

@media screen and (max-width: 465px){
    .editor-container{
        width: 85%;
    } 
    .previewer-container{        
        width: 97%;
    }
}

#preview img{
    max-width: 100%;
    height:auto;
}

#preview code, #preview pre {
    background-color: ghostwhite;
}

#preview h1 {
    border-bottom: 2px solid black;
}

#preview h2 {
    border-bottom: 1px solid black;
}

#preview h3 {
    border-bottom: 1px dashed black;
}